.header{
  background-color: black;
  margin: 0px 0px 10px;
  box-shadow: 10px 10px 5px #aaaaaa;
  position: sticky;
  position: -webkit-sticky;
}
.header img{
  margin-left: 20px;

}
.main{
  text-align: center;
}

.map {
  margin: auto;
  width: 50%;
  padding: 10px;
}
