@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed&display=swap');

body{
  font-family: 'Barlow Semi Condensed', sans-serif;
  overflow: hidden;
}
.header{
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header img{
  cursor: pointer;
}
.nav-bar{
  display: inline-block;
  border: none;
  border-radius: 50px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
}
.nav-bar button{
  border: none;
  background-color: black;
  border-radius: 50px;
  font-size: 25px;
}
.nav-bar button:hover{
  background-color: rgb(255, 123, 0);
  box-shadow: 0 0px 15px 0 rgb(255, 123, 0);
}
.main{
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.home-page{
  padding: 20px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 25px;
  font-weight: 600;
}
.home-page p{
  margin: 2px 40%;
  text-align: left;
}
.home-page button{
  background-color: rgb(255, 123, 0);
  border: none;
  margin: 10px 40%;
  width: 20%;
  border-radius: 50px;
  font-size: 25px;
}

.home-page button:hover{
  background-color: rgb(212, 0, 0);
}
.side-countries{
  background-color: black;
  color: white;
  height: 83%;
  width: 250px;
  position: absolute;
  overflow: scroll;
  scroll-behavior: smooth;
}
.side-countries-title{
  color: red;
  background-color: black;
  position: sticky;
  top: 0px;
}
.side-countries-list{
  list-style: none;
}

.side-countries-list li:hover{
  cursor: pointer;
  background-color: red;
  
}

.side-countries-list li:active {
  cursor: pointer;
  background-color: yellow;
} 

.country-info{
  background-color: black;
  color: white;
  font-size: 100%;
  margin-left: 85%;
  height: 85%;
  width: 300px;
  position: fixed;
  overflow: scroll;
  scroll-behavior: smooth;
}
.country-info h1{
  color: rgb(236, 114, 0);
}
.country-info h2{
  color: red;
}

.map {
  margin-left: 125%;
  padding: 15px;
  text-align: center;
  width: 100%;
}

.smile-page{
  padding: 0px 10px;
  width: 500px;
  display: flex;
  margin: 10px 36%;
  flex-direction: column;
  font-size: 25px;
}
.smile-page button{
  background-color: rgb(255, 123, 0);
  border: none;
  margin: 10px 10% 5px;
  width: 40%;
  border-radius: 50px;
  font-size: 25px;
}

.smile-page button:hover{
  background-color: rgb(212, 0, 0);
}
.smile-joke{
  text-align: left;
  margin: 0px -170px 0px;
  width: 55rem;
  height: 280px;
  overflow: scroll;
}
