@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed&display=swap');

body{
  font-family: 'Barlow Semi Condensed', sans-serif;
  overflow: hidden;
}
.header{
  background-color: black;
  margin: 0px 0px 0px;
}
.header img{
  margin-left: 45%;
}
.main{
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.side-countries{
  background-color: black;
  color: white;
  height: 83%;
  width: 250px;
  position: absolute;
  overflow: scroll;
  scroll-behavior: smooth;
}
.side-countries-title{
  color: red;
  background-color: black;
  position: sticky;
  top: 0px;
}
.side-countries-list{
  list-style: none;
}

.side-countries-list li:hover{
  cursor: pointer;
  background-color: red;
  
}

.side-countries-list li:active {
  cursor: pointer;
  background-color: yellow;
} 

.country-info{
  background-color: black;
  color: white;
  font-size: 100%;
  margin-left: 85%;
  height: 85%;
  width: 300px;
  position: fixed;
  overflow: scroll;
  scroll-behavior: smooth;
  /* padding-left: 0%; */
}
.country-info h1{
  color: rgb(236, 114, 0);
}
.country-info h2{
  color: red;
}

.map {
  margin-left: 125%;
  padding: 15px;
  text-align: center;
  width: 100%;
}